@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  font-family: 'Montserrat', sans-serif !important;
}

/****************** NAV BAR ******************/
nav .navBar-logo {
  width: 4rem;
}

/*---Menu Links ---*/
nav .navbar-toggler {
  border: none;
  color: #272727;
}

nav a.nav-link {
  color: #272727;
  font-size: 0.8rem;
  margin: 0 1rem;
  font-weight: 500;
  letter-spacing: 0.125rem;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  color: aliceblue;
  outline: none;
  box-shadow: none;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus {
  font-weight: 700;
}

.navbar-nav > li > a:hover {
  font-weight: 700;
}

.navbar-menu-icon {
  color: #272727;
}

@media (max-width: 786px) {
  nav .navBar-logo {
    width: 2rem;
  }
}

/****************** HEADER ******************/

.header-wrapper {
  background: url('./assets/background-header2.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 90vh;
  position: relative;
  z-index: -1;
}

.header-wrapper:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #839bff;
  opacity: 0.3;
  z-index: -1;
}

.header-main-info {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
}

.header-main-info-particles {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.header-main-info h1 {
  color: #fff;
  text-shadow: 2px 2px #272727;
  font-size: 5rem;
}

@media (max-width: 786px) {
  .header-main-info h1 {
    font-size: 3rem;
  }
  .header-main-info-particles {
    display: none;
  }
}

/****************** ABOUT ME ******************/

.about-me-content {
  line-height: 2rem;
}

.about-me-content h1 {
  color: #272727;
  letter-spacing: 2px;
  margin: 3rem 0;
}

.about-me-photo-wrap {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me-profile-img {
  border-radius: 50%;
  border: 2px solid #272727;
}

@media (max-width: 1200px) {
  .about-me-content h1 {
    font-size: 2rem;
    margin: 2rem 0;
  }
}

@media (max-width: 468px) {
  .about-me-content h1 {
    font-size: 1.7rem;
    margin: 2rem 0;
    text-align: center;
  }

  .about-me-content p {
    font-size: 0.9rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .about-me-profile-img {
    width: 10rem;
  }
}

/****************** SKILLS ******************/

.skills-wrapper .row {
  justify-content: space-evenly;
}

.skills-content-box {
  line-height: 2rem;
}

.skills-content-box h3 {
  height: 10rem;
  padding: 10% 0;
  text-align: center;
}

.skills-icon {
  text-align: center;
}

.skills-icon.laptop {
  color: #ff00ff;
}

.skills-icon.shapes {
  color: #839bff;
}

.skills-icon.group {
  color: #01ffff;
}

@media (max-width: 1024px) {
  .skills-content-box p {
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .skills-content-box h3 {
    height: 6rem;
  }
  .skills-content-box p {
    font-size: 0.9rem;
  }
}

@media (max-width: 468px) {
  .skills-content-box h3 {
    padding: 0.5rem 0;
    height: fit-content;
  }
  .skills-content-box p {
    font-size: 0.9rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
